@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
  --primary-color: #1976d2;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

html {
  overflow-x: hidden;
  max-width: 100vw;
}

body {
  max-width: 100vw;
}

a {
  color: inherit;
  text-decoration: none;
}

.button-container {
  width: fit-content;
  margin: 1rem auto;
  padding-left: .5rem;
  padding-right: .5rem;
}

.monster-nav-list {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.monster-list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.monster-detail-art-container {
  display: flex;
  flex-direction: row;
  padding: 1rem;
}

.monster-detail-memory-container,
.monster-detail-original-container {
  margin: 0 1rem;
  padding: 1.5rem;
}

@media (max-width: 900px) {
  .monster-detail-art-container {
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
  .monster-detail-memory-container,
  .monster-detail-original-container {
    max-width: 100vw;
    margin: 0;
    padding: 2.5rem;
  }

  .monster-detail-info {
    max-width: 100vw;
    margin-top: 1rem;
    padding: 2rem 5rem;
  }
}

.monster-detail-info {
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  padding: 2rem 4rem;
}

.monster-detail-info ul {
  list-style-type: none;
}

.hidden-image {
  filter: contrast(0%);
}

.nav-btn {
  margin-left: 1rem;
}

.search-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1rem auto;
}

@media (max-width: 600px) {
  .search-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
  }
  .search-button, .search-field {
    width: 100%;
    max-width: 400px;
  }
  .search-button {
    padding: 1rem 0;
  }
}

@media (max-width: 450px) {
  .logo-mobile-layout, .logo-desktop-layout {
    display: none;
  }
}

.edit-options-container {
  margin-top: 1rem;
  display: flex; 
  flex-direction: row;
  justify-content: space-around; 
  width: 100%;
}

.edit-monster-form {
  margin-top: 2rem;
  padding-top: 2rem;
}

.file-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: .5rem;
}

.bio-main {
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 70%;
}
.bio-headline {
  margin-bottom: .5rem;
}
.bio-body {
  line-height: 1.3;
  letter-spacing: 1px;
}